<div class="row justify-content-center m-auto col-12 py-5 my-md-3 border border-1" style="background-color: white;">
    <div class="header">
        <h4>Modifier la filière</h4>
    </div>
    <form [formGroup]="filiereGroup" (ngSubmit)="onUpdateFiliere()">
        <mat-form-field appearance="outline" class="col-12 d-block mb-3">
            <mat-label>Nom de la filière</mat-label>
            <input type="text" matInput id="firstName" formControlName="nomFiliere" placeholder="" value="" required>   
            
            <mat-error *ngIf="filiereGroup.get('nomFiliere')?.hasError('required')">
                Le nom de la filière est <strong>obligatoire</strong>
            </mat-error>
            <mat-error *ngIf="filiereGroup.get('nomFiliere')?.hasError('minlength')">
                Le nom de la filière ne peut avoir <strong>moins de 3 caractères</strong>
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="col-12 d-block mb-3" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error *ngIf="filiereGroup.get('description')?.hasError('required')">
                La description de la filière est <strong>obligatoire</strong>
            </mat-error>
            <mat-error *ngIf="filiereGroup.get('description')?.hasError('minlength')">
                La description de la filière ne peut avoir <strong>moins de 5 caractères</strong>
            </mat-error>
        </mat-form-field>
        <button class="btn btn-warning col-12 d-block py-2 mb-3"
                [disabled]="filiereGroup.invalid">Modifier la filière</button>
    </form>

</div>